/keys
/FilmScripts
bus.jpg
detected_objects_2.jpg
e2266584e63840afb7ceba3c55c76765.jpg
/images
/video
/Jewelry
/runs
yolo11n.pt
tsne_2d.txt
tsne_3d.txt
landmark.jpg
results.jpg
images/gotwithboxes.png
images/image_with_jewelry_boxes.jpg
result.jpg
donotuse.ipynb
images/lakeML.png
images/lake2.png
images/htmlpage.html
Cascades/
datasets/coco8/
YOLO/
data/Xcomb.csv
images/gotwithboxes.png
